@import "../variables";

.navbar {
  width: 90%;
  margin: 0 auto;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 0;
  background-color: black;
  // border-radius: 5rem 5rem 0 0;
  z-index: 1;
  // border-top: 4px solid;
  // border-radius: 50%;
  // border-image-slice: 1;
  // border-image-source: linear-gradient(to right, $primary, $secundary);
  li {
    list-style: none;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -4px;
    left: 10px;
    // border-radius: 5rem 5rem 0 0;
    background: linear-gradient(
      45deg,
      $primary,
      $secundary,
      $primary,
      $secundary,
      $primary,
      $secundary
    );
    background-size: 430%;
    width: calc(100% - 20px);
    height: calc(100% + 4px);
    z-index: -1;
  }
  &:after {
    filter: blur(10px);
    z-index: -2;
  }
  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $copper;
    padding: 0;
    .item {
      padding: 0.75rem;
      svg {
        fill: currentColor;
        height: 1.75rem;
      }
    }
  }

  .social {
    padding: 0;
    display: none;
    svg {
      width: 1.5rem;
      fill: currentColor;
    }
    .item {
      padding: 0.4rem;
    }
    .facebook,
    .linkedin {
      color: #0a8af9;
    }
    .github {
      color: white;
    }
    .instagram {
      color: #e55be0;
    }
    .twitter {
      color: #23e4eb;
    }
  }
}
