@import "../variables";

.navbar_ilumination {
  width: 90%;
  margin: 0 auto;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
  li {
    list-style: none;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    border-radius: 1.5rem 1.5rem 0 0;
    background: linear-gradient(
      45deg,
      $primary,
      $secundary,
      $primary,
      $secundary,
      $primary,
      $secundary
    );
    background-size: 400%;
    width: 100%;
    height: calc(40% + 10px);
    z-index: -1;
    animation: neon-nav-sm 40s linear infinite alternate;
  }
  &:after {
    filter: blur(6px);
    z-index: -2;
  }
  .navbar {
    width: calc(100% - 15px);
    background: $bg-dark;
    position: relative;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .main {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $copper;
      padding: 0;
      margin: 0;
      .item {
        padding: 0.75rem;
        svg {
          fill: currentColor;
          height: 1.75rem;
        }
      }
    }

    .social {
      padding: 0;
      display: none;
      svg {
        width: 1.25rem;
        fill: currentColor;
      }
      .item {
        padding: 0.4rem;
      }
      .facebook,
      .linkedin {
        color: #0a8af9;
      }
      .github {
        color: white;
      }
      .instagram {
        color: #e55be0;
      }
      .twitter {
        color: #23e4eb;
      }
    }
  }
}

@media (min-width: $break-md) {
  .navbar_ilumination {
    height: 95%;
    width: 9rem;
    margin: auto 0;
    left: 0;
    bottom: auto;
    &::before,
    &::after {
      top: 0;
      right: -8px;
      left: auto;
      border-radius: 0 2.5rem 2.5rem 0;
      background: linear-gradient(
        45%,
        $primary,
        $secundary,
        $primary,
        $secundary,
        $primary,
        $secundary
      );
      background-size: 800%;
      width: calc(30% + 10px);
      height: 100%;
      animation: neon-nav-lg 60s linear infinite alternate;
    }
    .navbar {
      height: calc(100% - 15px);
      width: 9rem;
      position: relative;
      flex-direction: column;
      border-radius: 0 2rem 2rem 0;
      .main {
        flex-direction: column;
        .item {
          padding: 0.6rem 0;
          svg {
            fill: currentColor;
            height: 2rem;
          }
        }
      }
      .social {
        display: initial;
        margin: 0;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

@keyframes neon-nav-sm {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0;
  }
}

@keyframes neon-nav-lg {
  0% {
    background-position: 40% 0;
  }
  100% {
    background-position: 750% 0;
  }
}
