//Color pallete
$bg-dark: #25283d;
$primary: #07beb8;
$secundary: #cb48b7;
$primary-light: #98dfea;
$copper: #e6c79c;
$colorModifier: 15%;
$opac-20: 20%;
$opac-65: 65%;
$opac-30: 30%;

//Typografy
$font-A: "Lato", sans-serif;
$font-B: "Fredoka One", sans-serif;

$hero-h1: 4rem;
$h1-sm: 3rem;
$h2-sm: 2rem;
$h3-sm: 1.5rem;
$p-sm: 1rem;

$h1-md: 5rem;
$h2-md: 3.5rem;
$h3-md: 1.8rem;
$p-md: 1.125rem;

//Sizes

//Breakpoints
$break-sm: 576px;
$break-md: 879px;
$break-lg: 1370px;
